body {
    margin: 0;
    padding: 0;
    background: #0e1215;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 40px;
    background: #1c1c1c;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.back-btn {
    font-size: 45px;
    cursor: pointer;
    user-select: none;
}

.title {
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: bold;
}

.amount {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
}

.receiver {
    font-size: 26px;
    color: #cccccc;
    margin-bottom: 35px;
}

.msg {
    text-align: center;
    color: #ff7a32;
    font-size: 22px;
    margin-bottom: 40px;
    cursor: pointer;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 15px 0;
}

hr {
    border: none;
    border-bottom: 2px solid #333;
    margin: 0;
}

.final-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background: #ff7a32;
    color: white;
    border: none;
    font-size: 28px;
    padding: 18px 50px;
    border-radius: 40px;
    cursor: pointer;
}
