body {
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 95%;
    margin: 20px auto;
    padding: 30px;
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    min-height: 90vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin: 0;
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.back-arrow {
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.label {
    margin-top: 60px;
    margin-left: 60px;
    font-size: 32px;
}

.senha {
    display: block;
    margin: 40px auto;
    width: 75%;
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    padding: 15px;
    color: white;
    font-size: 28px;
    outline: none;
}

.next-btn {
    position: absolute;
    right: 60px;
    bottom: 60px;
    text-decoration: none;
    font-size: 70px;
    color: #ff7b32;
}
