body {
    margin: 0;
    padding: 0;
    background: #141414;
    font-family: Arial, sans-serif;
    color: white;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 22px;
}

.voltar {
    font-size: 45px;
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 60px;
}

.card-box {
    text-align: center;
}

.cartao {
    width: 260px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 40px;
    background: #FF7A32;
    color: white;
    font-size: 20px;
    border-radius: 22px;
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover {
    background: #ff6a10;
}
